{#
/**
 * @file
 * Theme override for the user password reset form.
 */
#}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="text-center mb-5">
        <img src="/themes/custom/forseti/images/logos/originals/forseti_free.png" alt="Forseti" class="forseti-chat-icon mb-4">
        <h1 class="mb-3">Reset Password</h1>
        <p class="lead">Enter your email address and we'll send you a link to reset your password.</p>
      </div>
      
      <div class="card-forseti p-4">
        {{ form }}
      </div>
      
      <div class="text-center mt-4">
        <p class="text-muted">
          Remember your password? <a href="/user/login" class="link-cyan">Sign in</a>
        </p>
      </div>
    </div>
  </div>
</div>
